[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
cartridge_storage = "iXBRbJjLtohupYmSDz3diKTVz2wU8NXe4gezFsSNcy1"

[programs.devnet]
cartridge_storage = "iXBRbJjLtohupYmSDz3diKTVz2wU8NXe4gezFsSNcy1"

[programs.testnet]
cartridge_storage = "iXBRbJjLtohupYmSDz3diKTVz2wU8NXe4gezFsSNcy1"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

